<form name="updateMovieForm" novalidate>
	<table border="0">
		<tr>
			<td colspan="2">{{message}}</td>
		</tr>
		<tr>
			<td>Movie Id:</td>
			<td><input name="movieId" type="text" ng-model="movieId" required readonly="true"></td>
		</tr>
		<tr>
			<td>Movie Name:</td>
			<td>
				<input name="movieName" type="text" ng-model="movieName" required> 
				<span style="color: red" ng-show="movieForm.movieName.$dirty && movieForm.movieName.$invalid">
					<span ng-show="movieForm.movieName.$error.required">Invalid Movie Name</span>
				</span>
			</td>
		</tr>
		<tr>
			<td>Duration:</td>
			<td>
				<input name="duration" type="text" ng-model="duration" required> 
				<span style="color: red" ng-show="movieForm.duration.$dirty && movieForm.duration.$invalid">
					<span ng-show="movieForm.duration.$error.required">Invalid Duration</span>
				</span>
			</td>
		</tr>
		<tr>
			<td>version:</td>
			<td><input name="version" type="text" ng-model="version" required readonly="true"></td>
		</tr>
		
		<tr>
			<td colspan="2">
				<button ng-click="submit()">Submit</button>
			</td>
		</tr>
	</table>
</form>